.DisplaynavBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: navy;
    padding: 10px 50px;
}

.Displayblogs {
    color: white;
    margin: 0px;
}

.DisplaynavBarRightBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DisplaynavInnerBlock {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.DisplayuserName {
    color: white;
}

.Displayicon {
    color: white;
    margin-right: 15px;
}

.Displaymain {
    display: flex;
    justify-content: center;
}

.DisplayinnerMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
    padding: 20px;
}

.Displayheadings {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.Displayblogs {
    margin: 0px;
}

.DisplaynewPost {
    color: white;
    border-radius: 3px;
    border: none;
    background-color: navy;
}

.Displayhr {
    border-color: black;
}