.UploadnavBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: navy;
    padding: 10px 50px;
}

.Uploadblogs {
    color: white;
    margin: 0px;
}

.UploadnavBarRightBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.UploadnavInnerBlock {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.UploaduserName {
    color: white;
}

.Uploadicon {
    color: white;
    margin-right: 15px;
}

.UploadmainDiv {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.UploadinnerDiv {
    width: 900px;
    background-color: white;
    width: fit-content;
    padding: 10px;
    box-shadow: 3px 3px 3px black;
    border-radius: 5px;
}

.UploadtitleInput {
    font-size: xx-large;
    padding: 5px;
    border: none;
    width: inherit;
    font-weight: 700;
}

.UploaddescInput {
    padding: 10px;
    border-color: black;
    border-radius: 5px;
}

.Uploadbuttons {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.Uploadbutton {
    border: none;
    border-radius: 3px;
    background-color: navy;
    color: white;
    padding: 10px;
}