.Header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 10px 20px;
    background-color: rgb(65, 50, 109);
}

.HeaderName{
    padding: 10px 20px;
    border: 0.5px solid white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.HButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HButton{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid white;
}

.HButtonLogin{
    background-color: white;
    border-radius: 8px 0px 0px 8px;
}

.HButtonSignUp{
    background-color: rgba(84, 84, 219, 0.822);
    border: 0.5px solid rgba(84, 84, 219, 0.822);
    color: white;
    border-radius: 0px 8px 8px 0px;
}