.navBar {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    padding-left: 10px;
    padding-right: 10px;
    max-height: fit-content;
}

.heading {
    color: white
}

.blogs {
    margin: 10px;
}

.navbarrightblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linksOnNav {
    display: flex;
    justify-content: space-around;
    max-height: 50px;
    min-width: 200px;
}

.navlinks {
    color: white;
    font-size: large;
}

.mainDiv {
    display: flex;
    justify-content: center;
}

.LogininnerDiv {
    background-color: rgb(226, 226, 226);
    width: 300px;
    height: 350px;
    padding: 30px 20px;
    border-radius: 5px;
    margin-top: 18vh;
    box-shadow: 3px 3px rgb(165, 164, 164);
}

.names {
    margin: 0px;
}

.loginHeading {
    display: flex;
    justify-content: center;
    color: navy;
}

.InputTypes input{
    width: 100%;
    margin: 10px 0px;
}

.emailInput {
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.passwordInput {
    padding: 5px;
    border-radius: 4px;
    border: none;
    margin: 3px 0px;
}

.submitBtn {
    padding: 10px;
    background-color: navy;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: white;
}