.Home {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    height: 100vh;
}

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: navy;
    padding-left: 10px;
    padding-right: 10px;
    max-height: fit-content;
}

.heading {
    color: white
}

.blogs {
    margin: 10px;
}

.navbarrightblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linksOnNav {
    display: flex;
    justify-content: space-around;
    max-height: 50px;
    min-width: 200px;
}

.navlinks {
    color: white;
    font-size: large;
}

.mainDiv {
    display: grid;
    place-content: center;
}

.innerDiv {
    min-width: 500px;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    padding: 20px;
    margin: 25px;
    min-height: 200px;
    box-shadow: 3px 3px 5px rgb(87, 87, 87);
}

.buttons {
    display: flex;
    justify-content: end;
}

.loginButton {
    background-color: navy;
    padding: 10px;
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    border: none
}

.registerButton {
    background-color: navy;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: none;
}